<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scooby Doo</title>
    <link rel="stylesheet" href="scoobyDoo.css">
</head>
<body>

<div class="container">
    <h1>Scooby Doo</h1>
    <hr/><br/>

       <div v-if="!result">
        <div>
            <input type="text" class="form-control" v-model="password" placeholder="Please type text here" />
            <!-- Add this attrib in input for live processing : ng-change="process()" ng-keypress="process()" -->
        </div>

        <div>
            <button @click="scoobyDoos(password)">Submit</button>
        </div>
       </div>

    <div v-else>
        <h3 v-cloak class="alert" id="msg"> &nbsp; {{ scoobyDoos(password) }}</h3>
    </div>




</div>

<script src="js/vue.js"></script>
<script>
    new Vue({

        el: '.container',
        data:{
            result: false,
            password:''
        },
        methods:{
            scoobyDoos: function (password) {

                this.result = true;

                return password.replace(/^\s*[^aeiou]+(?=\w)/i, function(match, offset, string){return "r"});




            }
        }

    });
</script>

</body>
</html>